.main{
    height: 80vw;
    background-color: #0f0f0f;
    margin-top: 20vh;
    margin-bottom: vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
    }
}